url.file=url_mapping.txt
ss.folder=ss-folder
html.folder=htm-folder
url.to.crawl="https://www.apollopharmacy.in/otc?pageNo=2&label=a"
accepted.regex=.*otc.*
rejected.regex="^(?!https://www\\.merckgroup\\.com/en/).*"
number.of.urls=1500
title.xpath=""
manufacturer.xpath=""
composition.xpath=""
content.xpath=""