# File paths and URLs
url.file=url_mapping.txt
ss.folder=ss-folder
html.folder=htm-folder
url.to.crawl="https://www.netmeds.com/prescriptions/bacterial-infections"

# Regex patterns for URL acceptance and rejection
accepted.regex="^https://www\\.netmeds\\.com/prescriptions/.*$"
rejected.regex="^(?!https://www\\.merckgroup\\.com/en/).*"

# Number of URLs to crawl
number.of.urls=1500

# XPath configurations
title.xpath=//h1[@class='black-txt']  # XPath for the title
manufacturer.xpath=//span[@class='drug-manu']/a  # XPath for the manufacturer
composition.xpath=//div[@class='drug-content']/div/div[@class='manufacturer_details '][3]//div[@class='manufacturer__name_value']  # XPath for composition
content.xpath=//div[@id='np_tab1']//div[@class='col-md-12']/div/p  # XPath for product content